<div class="main-page__wrapper">
    <h1 class="main-page__title">Witaj!</h1>
    <button class="main-page__btn">Idę dalej</button>
    <p class="main-page__paragraph">Mamy dla Ciebie ważną wiadomość. Żeby ją odczytać, musisz odszyfrować <span
            class="letter"> k</span>o<span class="letter">l</span>ejne
        słowa. Jeśl<span class="letter">i</span> jesteś jednym z nas, na pewno sobie z tym poradzisz! Ze względów
        bezpieczeństwa, <span class="letter">k</span>ażde ze słów
        zaszyforwaliśmy osobny i <span class="letter">w</span> inny sposób. W razie problemów, wiesz gdzie nasz
        szukać... A teraz... <a routerLink="/word1" class="main-page__link"><span class="letter">Zaczynamy!</span></a>
    </p>
</div>