<div class="word__wrapper">
    <h1 class="word__title">Słowo nr 5</h1>
    <div class="word__riddle">
        <div class="riddles"><img class="riddles__img" src="https://i.ibb.co/5K21jLW/er1.png" alt="">
            <div class="riddles__number">7</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="https://i.ibb.co/sCXckq8/er2.png" alt="">
            <div class="riddles__number">2</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="https://i.ibb.co/wSF2kxP/er3.png" alt="">
            <div class="riddles__number">3</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="https://i.ibb.co/X8P0k4g/er4.png" alt="">
            <div class="riddles__number">3</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="https://i.ibb.co/7pZ5Djh/er5.png" alt="">
            <div class="riddles__number">4</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="https://i.ibb.co/HxVChKW/er6.png" alt="">
            <div class="riddles__number">6</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="https://i.ibb.co/YfJvVwD/er7.png" alt="">
            <div class="riddles__number">10</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="https://i.ibb.co/Mc7H8tL/er8.png" alt="">
            <div class="riddles__number">7</div>
        </div>
    </div>
    <input type="text" class="word__input" #input (change)="checkAnswer5(input.value.toLowerCase())">
    <p class="word__instruction">Po wpisaniu wciśnij enter</p>
</div>