<div class="word__wrapper">
    <h1 class="word__title">Słowo nr 5</h1>
    <div class="word__riddle">
        <div class="riddles"><img class="riddles__img" src="../../assets/img/er1.webp" alt="">
            <div class="riddles__number">7</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="../../assets/img/er2.webp" alt="">
            <div class="riddles__number">2</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="../../assets/img/er3.webp" alt="">
            <div class="riddles__number">3</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="../../assets/img/er4.webp" alt="">
            <div class="riddles__number">3</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="../../assets/img/er5.webp" alt="">
            <div class="riddles__number">4</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="../../assets/img/er6.webp" alt="">
            <div class="riddles__number">6</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="../../assets/img/er7.webp" alt="">
            <div class="riddles__number">10</div>
        </div>
        <div class="riddles"><img class="riddles__img" src="../../assets/img/er8.webp" alt="">
            <div class="riddles__number">7</div>
        </div>
    </div>
    <input type="text" class="word__input" #input (change)="checkAnswer5(input.value.toLowerCase())">
    <p class="word__instruction">Po wpisaniu wciśnij enter</p>
</div>