<div class="summary__wrapper">
    <h1 class="summary__title">BRAWO!</h1>
    <h2 class="summary__subtitle">Legion patrzy. Legion nie zapomina.</h2>
    <p class="summary__txt">Udowodniłeś/aś, że jesteś jednym z nas i udało Ci się rozszyfrować naszę wiadomość. Ale to
        nie jest ostatnie
        zadanie dla Ciebie na dzisiaj. Teraz musisz wejść na <a class="summary__link"
            href="https://lockme.pl">LockMe</a> i zarezerwować jakiś
        pokój, żeby dalej ćwiczyć swoje szare komórki. Życzę dobrej zabawy i do zobaczenia <a class="summary__link"
            href="https://www.facebook.com/groups/652761968239458/">na Facebooku</a>.</p>
</div>